{% extends 'base.html' %}
{% load static %}
{% block content%}
    <div class="center">
        <p>{{ event.name }}</p>
        <p>{{ show.datetime }}</p>
        <p>Zone: {{ zone.name }}</p>
        <input type="checkbox" id="sendhome" >
        <label for="sendhome" class="white"> I want the ticket sent to my house </label><br>
     </div>
    <div id="addressform" class="center" style="display: none;" >
    {{ addressform.as_p }}
    </div>
    <br>
    <div id="paymentform" class="center">
    <p>Payment info:</p>
    {{ paymentform.as_p }}
    </div>
{% endblock %}
