{% extends 'base.html' %}
{% block content %}
    <div class="eventheaderimg">
        <img src=" {{ event.header_image }}">
    </div>

    <div class="eventcontainer">
        <h1 id="title">Order Confirmed!</h1>
        <h1 id="desc">{{ event.name }} </h1>
        <h1 id="desc">{{ show.datetime }} </h1>
        <h1 id="desc"> Zone: {{ zone.name }} </h1>
        <h1 id="desc"> Number of Tickets: {{ forms.num_tickets }} </h1>
        <h1 id="desc"> Price:
            {% if zone.price|length == 4 %}
            {{ zone.price|slice:':1' }}.{{ zone.price|slice:'1:' }}
            {% elif zone.price|length == 5 %}
            {{ zone.price|slice:':2' }}.{{ zone.price|slice:'2:' }}
            {% endif %}
         kr </h1>
        <br>
        <h1 id="desc">
        {% if forms.sendhome == 'on' %}
            Your ticket{% if forms.num_tickets|add:'0' > 1 %}s{% endif %}
            will be sent to {{ forms.address }}, {{ forms.country }}
            You will also get an email with your ticket{% if forms.num_tickets|add:'0' > 1 %}s{% endif %}
            {% else %}
            Your tickets will be sent by email to {{ request.user.email }}
        {% endif %}
        </h1>
        <br><br>
        <h1 class="description">
        All tickets are accessible in your profile page.
        </h1>


    </div>


{% endblock %}