{% extends 'base.html' %}
{% load static %}
{% block content%}
    <script type="text/javascript">
        var singleTicketPrice = "{{zone.price}}";
        var maxTickets = "{{ zone.availabletickets }}"
    </script>
    <div>
    {{ zone }}
    </div>
    <div class="center form-horizontal" >
        <h1 style="margin: 0px">{{ event.name }}</h1>
        <p>{{ show.datetime }}</p>
        <p>Zone: {{ zone.name }}</p>
        <div class="btn-group">
            <button id="subbtn" type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">-</button>
            <input type="text" id="ticketnum" class="btn btn-primary input-number" value="1" min="1" max="10" style="width:50px"/>
            <button type="button" id="addbtn" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">+</button>
        </div>
        <div id="pricediv"><a>Price: </a><a id="price">{{ zone.price }}</a><a>kr</a></div>
    </div>
    <br><br><br>

        <div id="paymentform" class="center form-horizontal">
            <p><b>Payment info:</b></p>

            <form method="post">
                {% csrf_token %}
            {{ paymentinfoform.as_p }}
                <input id="num_tickets" name="num_tickets" type="text" style="display: none" value="1">
                <input id="total_price" name="total_price" type="text" style="display: none" value="{{ zone.price }}">
            <button type="submit" name="addressform paymentform" class="btn btn-primary">Confirm Order</button>
            </form>
            <div class="d-grid gap-2">
            </div>
        </div>
    <br>

    <br><br>

{% endblock %}
