{% extends 'base.html' %}
{% load static %}
{% block content%}
    <div class="center form-horizontal" >
        <h1 style="margin: 0px">{{ event.name }}</h1>
        <p>{{ show.datetime }}</p>
        <p>Zone: {{ zone.name }}</p>

        <br>
        <input type="checkbox" id="sendhome" >
        <label for="sendhome" class="white"> I want the ticket sent to my house </label><br>
     </div>
    <br>
    <form id="bothforms" method="post">

    <div id="paymentform" class="center form-horizontal">
          <div class="btn-group">
            <button id="subbtn" type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">-</button>
            <input type="text" id="ticketnum" class="btn btn-primary input-number" value="1" min="1" max="10" style="width:50px"/>
            <button type="button" id="addbtn" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">+</button>
        </div>
        <p><b>Payment info:</b></p>
            {% csrf_token %}
        {{ paymentinfoform.as_p }}

    </div>
    <br>

    <button type="submit" name="addressform paymentform" class="btn btn-primary">BOTH FORMS</button>
    </form>
    <br><br>
{% endblock %}
