{% extends 'base.html' %}
{% load tz %}
{% block content %}

    <div class="eventcontainer">
        <div class="eventheaderimg">
            <img src=" {{ event.header_image }}">
        </div>
        <h1 id="title" style="margin-bottom:0px;">{{ event.name }}</h1>
        <h1 id="desc">{{ event.description }} </h1>
        <br>

    <div class="showcontainer">
        <h1 style="margin-left: 0px;">Please select a show:</h1>
        <br>
    <div class="showbuttoncontainer">
            {% for show in shows %}
                <div class="showbutton">
                {% if show.datetime|date:"YmdHis" > today|date:"YmdHis" and show.availabletickets > 0 %}
                    <a class="btn btn-primary" href={{ event.id }}/shows/{{ show.id }}> {{ show.datetime }} <br><br> Available tickets: {{ show.availabletickets }}</a>
                    {% elif show.availabletickets == 0 or show.availabletickets == None %}
                    <a class="btn btn-primary disabled" > {{ show.datetime }} <br><br>Sold out</a>
                {% else %}
                    <a class="btn btn-primary disabled" > {{ show.datetime }} <br><br>Event has passed</a>
                {% endif %}
                </div>
            {% endfor %}
    </div>
        {% include 'event/similar_events.html'  with similar_events=similar_events%}
    </div>
    </div>

{% endblock %}