{% extends 'base.html' %}
{% block content %}
    <div class="eventheaderimg">
        <img src=" {{ event.header_image }}">
    </div>

    <div class="eventcontainer">
        <h1>{{ event.name }}</h1>
        <h1>{{ show.venueid }}</h1>
        <h1>{{ show.datetime }}</h1>

    <div class="showcontainer">
    <p>Please select a zone</p>
    <br>
    <div class="showbuttoncontainer">
    {% for zone in zones %}
        <div class="showbutton">
        {% if zone.availabletickets > 0 %}
            <a href="{{ show.id }}/zones/{{ zone.id }}/payment" class="btn btn-primary">
                {{ zone.name }} <br> {{ zone.price }} kr <br> Available Tickets: {{ zone.availabletickets }}
            </a>
        {% else %}
            <a class="btn btn-primary disabled"> {{ zone.name }} <br> {{ zone.price }} kr <br> Available Tickets: 0</a>
        {% endif %}
        </div>
    {% endfor %}
    </div>
    </div>
    </div>
{% endblock %}