{% extends 'base.html' %}
{% block content %}
<h2 class="center">Log In</h2>
    <br>
    <div class="center">
<form method="post">
  {% csrf_token %}

  <p>
    <label for="id_username">Username:</label>
    <input type="text" class="form-control" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
  </p>
  <p>
    <label for="id_password">Password:</label>
    <input type="password" class="form-control" name="password" autocomplete="current-password" required id="id_password">
  </p>
  <button type="submit" class="btn btn-primary">Log In</button>
</form>
        <form style="display: inline" action="/users/register">
            <br>
            <button type="submit" class="btn btn-primary" >Register</button>
        </form>
    </div>
{% endblock %}