{% extends 'base.html' %}
{% block content %}
    {% if headliners %}
    <div id="eventContainer">
    <div class="headlineEvent">
        <a href="/events/{{ headliners.id }}">
        <img  style="margin-top: 20px" class="headlineimg" src ="{{ headliners.header_image }}">
        </a>
    </div>
    {% endif %}
    <br>
        {% for eventtype in eventtypes %}
            <h1>{{ eventtype.name }}</h1>
            <div class="wrapper">
                <div id="section1">
                {% for event in events %}
                    {% if event.eventtypeid == eventtype %}
                    {% include 'event/single_event_card.html' with event=event %}
                        {% include 'event/eventmodal.html' with event=event %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}