{% extends 'base.html' %}
{% block content %}
       <div class="row my-3 p-3 center">
        <div class="userdetails">
            {%  if user.profile_picture.url is not None %}
                <div class="profilepiccontainer">
                    <img class="profilepic" src="{{ user.profile_picture.url }}">
                </div>
            {% endif %}
        <div class="textdetails">
            <h1 class="userinfo">Username: {{user.username}}</h1>
            <h1 class="userinfo">Name: {{user.first_name}} {{user.last_name}}</h1>
            <h1 class="userinfo">Joined:  {{user.date_joined}}</h1>
            <h1 class="userinfo">Date of Birth:  {{user.date_of_birth}}</h1>
        </div>
        </div>
    </div>
  <nav id="sidebar" class="navbar align-items-stretch p-3">
      <nav class="nav nav-pills flex-column navbar-dark bg-dark">
          <a class="nav-link" aria-current="page" href="#navbarSupportedContent">Account settings</a>
          <a class="nav-link" href="#2">My tickets</a>
          <a class="nav-link" href="#3">Liked categories</a>
          <a class="nav-link" href="#4"><!--"/users/edituser"-->Edit user</a>
          <a class="nav-link" href="/users/changepassword">Change password</a>
      </nav>
    </nav>
 <!--   <nav id="sidebar" class="navbar align-items-stretch p-3">
        <div class="nav nav-pills flex-column">
            <a class="side-link" href="#1">Item 1</a>
            <a class="side-link" href="#item-2">Item 2</a>
            <a class="side-link" href="#item-3">Item 3</a>
        </div>
</nav>

<div data-bs-spy="scroll" data-bs-target="#sidebar" data-bs-offset="0" tabindex="0">
  <h4 id="item-1">Item 1</h4>
  <p>This is {{ user.username }}'s profile page</p>
  <h4 id="item-2">Item 2</h4>
  <p>...</p>
  <h4 id="item-3">Item 3</h4>
  <p>...</p>
</div>-->
    <br><br>
    <div data-bs-spy="scroll" data-bs-target="#sidebar" data-bs-offset="0" tabindex="0">
         <div id="2">
             <div class="center white">
                 <h4>Your tickets</h4>
                 <div class="wrapper">
                     <div id="section1">
                    {% for event in events %}
                        {% for show in shows %}
                            {% if show.eventid == event %}
                            <div>
                                {% include 'event/single_show_card.html' with event=event %}
                                </div>
                                <div class="modal fade modal-lg" id="modal{{ show.id }}" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Tickets for {{ event.name }} on {{ show.datetime }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>{{ event.description }}</p>
                                            </div>
                                            <div class="modal-footer">
                                                {% for key, value in ticketcountdict.items %}
                                                    {% if key == show.id  %}
                                                        <p>Number of tickets: {{ value}}</p>
                                                    {% endif %}
                                                {% endfor %}
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                    {% endfor %}
             {% endfor %}
                     </div>
                 </div>
             </div>
        </div>
        <hr>
        <div id="3" class="white center">
             <h4> Favorite categories </h4>
            {% for like in likes %}
                <h1 class="likes"> {{ like.likestype }} </h1>
            {% endfor %}
        <br><br>

        </div>
        <hr>
         <div id="4">
             <div class="center white">
                 <h4>Edit user information</h4>
                 <form action="/users/edituser" class="form form-horizontal white" method="post" id="editform" enctype="multipart/form-data">
                     {% csrf_token %}
                     {{ editform.as_p }}
                     <input name="editform" type="submit" class="btn btn-primary" value="Confirm">
                 </form>
             </div>
         </div>
        <hr>
        <br><br>
         <!--<div id="4">
            <div class="center">
                <form class="form form-horizontal white" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ passform.as_p }}
          <input name="passform" type="submit" class="btn btn-primary" value="Confirm">
                </form>
            </div>
         </div>-->
    </div>


{% endblock content %}