html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #161616;
  font-family: 'Gotham', sans-serif;
}

h1 {
    color: white;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Gotham', sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3,100%);
  overflow:hidden;
  scroll-behavior: smooth;
}
#section1 {
    width: 98%;
    position: relative;
    display: grid;
    height:300px;
    grid-template-columns: repeat(20, auto);
    margin: 20px;
    margin-top: 0px;
    overflow-x:scroll;
    overflow-y:auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
    padding-right:40px;
    /* allow further scrolling
    */

}
#section1::-webkit-scrollbar {
  display: none;
}


.item {
    border-radius:8px;
    width: 320px;
    overflow: hidden;
    height:180px;
    padding: 0 0px;
    margin: 0px 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    transition: 250ms all;
}

.item img {
    min-width: 320px;
    min-height: 180px;
    max-width: 320px;

}
.item:hover {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
    margin: 10px 30px;
    margin-top: 30px;
}

.heading {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: #202020;
      }

.duration {
        position: absolute;
        bottom: 0;
        left: 20px;
        color: #fff;
      }

.arrow__btn {
      position: absolute;
      color: #fff;
      text-decoration: none;
      font-size: 6em;
      background:rgb(0,0,0);
      width: 80px;
      padding: 20px;
      text-align: center;
      z-index: 1;
    }

.left-arrow {
      top:0; bottom:0; left:0;
      background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    }

.right-arrow {
      top:0; bottom:0; right: 0;
      background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}
