html {
    scroll-behavior: smooth;

}
#cloud-container{
    overflow:hidden !important;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:-1;
    box-shadow: inset 0px 0px 100px 0px rgba(82, 15, 92, 0.6);
}
body {
    margin: 0;
    background-color: #161616;
    font-family: 'Gotham', sans-serif;
}

h1 {
    color: white;
    text-align: left;
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Gotham', sans-serif;

}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Gotham', sans-serif;
}

p, h2{
    color:white;
}

.modal-title {
    margin-left: 20px;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Gotham', sans-serif;
}
.modal-body > h1 {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Gotham', sans-serif;
}

#searchbox {
    background: #272727;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
    color: white;
    font-family: 'Gotham', sans-serif;
    border-color: #404040;
}

.navbar {
    background-color: rgba(22,22,22, 0.85)!important;
}


#sidebar {
    position: fixed;
    margin-left:50px;
    margin-top:-250px
}

.nav-link {
    color: white !important;

}

.nav > .nav-link {
    margin-top:10px;
}

.bg-dark {
    --bs-bg-opacity: 0;
}

.active {
    font-weight:600;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3,100%);
    overflow:hidden;
    scroll-behavior: smooth;
    height: 230px;
}
#section1 {
    width: 98%;
    position: relative;
    display: grid;
    height:230px;
    grid-template-columns: repeat(20, auto);
    margin: -10px 20px 15px;
    overflow-x:scroll;
    overflow-y:auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
    padding-right:40px;
    /* allow further scrolling
    */

}
#section1::-webkit-scrollbar {
  display: none;
}

#searchsection {
    width: 94%;
    position: relative;
    height:230px;
    margin: -10px 50px 15px;



}
#searchsection::-webkit-scrollbar {
  display: none;
}


.item {
    border-radius:8px;
    float: left;
    width: 320px;
    overflow: hidden;
    height:180px;
    padding: 0 0px;
    margin: 30px 10px 10px;
    transition: 250ms all;
}

.item img {
    min-width: 320px;
    min-height: 180px;
    max-width: 320px;

}
.item:hover {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
    margin: 30px 30px 10px;
}

.heading {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: #202020;
      }

.duration {
        position: absolute;
        bottom: 0;
        left: 20px;
        color: #fff;
      }


.headlineimg {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
    width: calc(100% - 40px);
    max-height: 400px;
    height: 50vh;

    overflow: hidden;
    object-fit: cover;
}

.headlineimg:hover img{
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

.close {
    margin-top: -15px;
    margin-right: -5px;
    background: #161616;
    color: white;
    font-family: 'Gotham', sans-serif;
    font-size: 2rem;
    border:0px;

}

.center {
  margin: auto;
  width: 50%;
}

.white {
    color: white;
}

/*
Change the input style of form-control
 */

.form-horizontal{
    min-width:300px;
    max-width:500px;
    margin: 0 auto;
    font-family: 'Gotham', sans-serif;

}
.form-horizontal > .p {
    margin-top: 20px;
}
#id_username.form-control{
    width: 100%;

}
#id_password.form-control{
    width: 100%;
}
.form form-horizontal white > input{
    width:100%;
}
.form-control > label{
    margin: 0 auto;

}

.modal {
    --bs-modal-bg: #161616;
}
.modal-background {
    background: #161616 !important;
    background-color: #161616;
    background: #161616;
}

.modal-body {
    /* Split modal-body vertically into two sections */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

}

.errorlist {
    color: red;
}

.nav-item img {
    margin-top:-20px;
    margin-bottom:-15px;
    width:40px;
    height:40px;
    border-radius: 50%;
}



#id_name, label[for='id_name']{
    display:none;
}
#id_address, label[for='id_address']{
    display:none;
}
#id_city, label[for='id_city'] {
    display:none;
}
#id_country, label[for='id_country']{
    display:none;
}
#id_zip, label[for='id_zip']{
    display:none;
}
